<div class="bandera">
  <img class="bandera"
    src="https://upload.wikimedia.org/wikipedia/commons/8/81/Flag_of_Uruguay_%281828-1830%29.svg"
    alt="profile"></div>
<strong>Datos Generales</strong><br>
<p>- Uruguay es un país de Sudamérica conocido por su interior verde y costa bordeada de playas. La capital, Montevideo,
  se ubica en torno a la plaza Independencia, donde alguna vez hubo una ciudadela española. Esta lleva a la Ciudad
  Vieja, casas coloniales y el Mercado del Puerto con muchos restaurantes de carnes. La Rambla es un paseo costero con
  puestos de pescados, muelles y parques.</p>
